:root {
    --terminal-green: #24c68d;
    --terminal-blue: #8ed3ec;
    --terminal-red: #ec3b54;
    --terminal-yellow: #ffdf63;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .1rem; !* Adjust as needed *!*/
    animation: blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}

@keyframes moveClouds1 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes moveClouds2 {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(50%);
    }
}

@keyframes moveClouds3 {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(40%);
    }
}

@keyframes moveClouds4 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(100%);
    }
}

.clouds1 {
    animation: moveClouds1 240s linear infinite;
    animation-delay: -80s;
}

.clouds2 {
    animation: moveClouds2 240s linear infinite;
    animation-delay: -160s;
}

.clouds3 {
    animation: moveClouds3 240s linear infinite;
    animation-delay: -200s;
}

.clouds4 {
    animation: moveClouds4 240s linear infinite;
    animation-delay: 0s;
}

@keyframes twinkle {
    40%, 60% {
        opacity: 1;
    }
    50% {
        opacity: 0; /* Make the stars completely invisible */
    }
}

.stars1 {
    animation: twinkle 4s infinite;
    animation-delay: -1s;
}

.stars2 {
    animation: twinkle 4.2s infinite;
    animation-delay: -5s;
}

.stars3 {
    animation: twinkle 4.4s infinite;
    animation-delay: -3s;
}

.stars4 {
    animation: twinkle 4.6s infinite;
    animation-delay: -0.5s;
}

.stars5 {
    animation: twinkle 4.8s infinite;
    animation-delay: -3.5s;
}

.stars6 {
    animation: twinkle 5s infinite;
    animation-delay: -6.25s;
}

.stars7 {
    animation: twinkle 5.2s infinite;
    animation-delay: -7s;
}

.stars8 {
    animation: twinkle 5.4s infinite;
    animation-delay: -8s;
}

.stars9 {
    animation: twinkle 5.6s infinite;
    animation-delay: -4s;
}

.stars10 {
    animation: twinkle 5.8s infinite;
    animation-delay: -2s;
}

.stars11 {
    animation: twinkle 5s infinite;
    animation-delay: -2.5s;
}

.stars12 {
    animation: twinkle 5s infinite;
    animation-delay: -5s;
}

@keyframes fix-load-bug {
    0%, 15% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fix-load-bug {
    animation: fix-load-bug 2s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1.5s infinite;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .1rem; !* Adjust as needed *!*/
    animation: blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}